// $max-width:1440px;
$max-width:1440px;
$header-height:3rem;


//Paleta de colores
:root{

    --very-light-grayish-blue: hsl(240, 78%, 98%);
    --light-grayish-blue: hsl(234, 14%, 74%);
    --grayish-blue: hsl(233, 13%, 49%);
    --dark-grayish-blue: hsl(232, 13%, 33%);
     
}

//Variables de tipografia 
:root{
    // --h1-font-size :2rem;
    // --h2-font-size: 1.5rem;
    // --h3-font-size: 1.25rem;
    // --small-font-size:.95rem;
}
